body {
    background-color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#submit-button  {
    background-color: peru;
    color: linen;
    box-sizing: content-box;
    box-shadow: mediumturquoise;
    size: 60px;
}


header {
    color: blue;
    font-size: xx-large;
    block-size: 100fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.form-item {

    color: blue;
    font-size: medium
    block-size: 100fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.album-list-item {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #20437c;
    border-radius: 5%;
    background: #ddeaff;